#upr_logo {
	height: 65%;
	width: 65%
}

#header {
	margin-top: 50px;
	padding: 5px;
	background-color: #ffe0b0; 
}

#menu {
	margin-top: 10px;
	padding: 5px;
	background-color: #7aeaa4; 
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.map {
	margin-top: 100px;
}